@import "./theme/theme.scss";

// .footer {
//   color: $text-color-light;
//   font-size: $font-size-large;
//   margin: $margin-regular $margin-small;
//   width: 100%;
//   background-color: $background-color-dark;
// }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $gap-regular;
  color: $text-color-accent;

  padding: $padding-large 0;
  width: 100%;
  background-color: $background-color-dark;
  align-items: center;
  .footerHeader {
    text-align: center;
    h4 {
      font-size: $font-size-hero;
      font-weight: bold;
      margin-bottom: $margin-small;
    }
    span {
      font-size: $font-size-regular;
      color: $white-color;
    }
  }
  .footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    justify-items: flex-start;
    align-items: flex-start;
    text-align: start;
    margin: auto;
  }

  .footerSocials {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    width: 70%;
    color: $gray-color;

    .socialLinks {
      display: flex;
      flex-direction: row;
      gap: $gap-regular;
      .icon {
        color: $white-color;
        &:hover {
          color: $link-color-secondary;
          cursor: pointer;
          transform: scale(1.5);
          transition: 0.3s transform ease-in-out;
          -webkit-transition: 0.3s transform ease-in-out;
          -moz-transition: 0.3s transform ease-in-out;
          -ms-transition: 0.3s transform ease-in-out;
          -o-transition: 0.3s transform ease-in-out;
          -webkit-transform: scale(1.5);
          -moz-transform: scale(1.5);
          -ms-transform: scale(1.5);
          -o-transform: scale(1.5);
        }
      }
    }
    @include breakpoint(xs) {
      gap: $gap-regular;
      flex-direction: column;
    }
  }
  .divider {
    width: 70%;

    background-color: #ffffff;
    color: #ffffff;
    height: 2px;

    border-width: 1px;
  }
}
