@import "./theme/theme.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px; // Adjust max-width as needed
  margin: 30px auto;
  padding: $padding-large;
  border-radius: $border-radius-large;
  position: relative;
  background-color: $background-alt-500;
  color: $text-color-light;
  border: 1px solid $border-color-dark;

  label {
    position: relative;
    flex: 1;

    .input {
      @include inputStyle(default);

      &:focus + span,
      &:valid + span {
        color: $text-color-accent;
        top: 0px;
        font-size: 0.7em;
        font-weight: 600;
      }
    }

    .input + span {
      color: $input-placeholder-color;
      position: absolute;
      left: 10px;
      top: 0px;
      font-size: $font-size-small;
      cursor: text;
      transition: $transition-speed $transition-ease;
    }
  }

  .thumbnail_preview {
    margin-top: 10px;
    width: 100%;
    max-width: 350px;
    border-radius: $border-radius-medium;
    border: 2px solid $input-border;
    object-fit: cover;
    align-self: center; // Center the thumbnail preview
  }
}

.title {
  font-size: $font-size-heading;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: $text-color-dark;

  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: $accent-color;
  }

  &::before {
    width: 18px;
    height: 18px;
  }

  &::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
    -webkit-animation: pulse 1s linear infinite;
  }
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;

  .input {
    flex: 1;
  }

  label {
    flex: 1;
  }
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap-small;

  .centered {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.submit {
  @include buttonStyle(primary);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
