@import "./theme/theme.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px;
  //Adjustmax-widthasneededmargin: 30px auto;
  padding: $padding-large;
  border-radius: $border-radius-large;
  position: relative;
  background-color: $background-alt;
  color: $text-color-light;
  border: 1px solid $border-color-dark;
  label {
    position: relative;
    flex: 1;

    .input {
      @include inputStyle(default);

      &:required + span,
      &:focus + span,
      &:active + span,
      &:valid + span {
        color: $text-color-dark;
        top: 0px;
        font-size: 0.7em;
        font-weight: 600;
      }

      &:focus,
      &:active {
        border: 2px solid $border-color-dark;
        outline: none;
      }
    }

    .input + span {
      color: $input-border;
      position: absolute;
      left: 10px;

      top: 0px;
      margin-top: 2px;
      font-size: $font-size-small;
      cursor: text;
      transition: $transition-speed $transition-ease;
    }

    textarea {
      background-color: red;
    }
  }

  .thumbnail_preview {
    margin-top: 10px;
    width: 100%;
    max-width: 350px;
    border-radius: $border-radius-medium;
    border: 2px solid $input-border;
    object-fit: cover;
    align-self: center; // Center the thumbnail preview
  }
}

.title {
  font-size: $font-size-heading;
  font-weight: bolder;

  letter-spacing: 3px;
  position: relative;
  display: flex;

  padding-left: 30px;
  color: $text-color-dark;

  &::before,
  &::after {
    position: absolute;
    content: "";
    // height: 16px;
    // width: 16px;
    right: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: $primary-color;
  }

  &::before {
    width: 18px;
    height: 18px;
  }

  &::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
    -webkit-animation: pulse 1s linear infinite;
  }
}

.message {
  color: $text-color-dark;
  font-size: $font-size-large;
}
.flex {
  display: flex;
  width: 100%;
  gap: 6px;

  .input {
    flex: 1;
  }

  label {
    flex: 1;
  }
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap-small;

  .input {
    width: fit-content;
  }
}

.submit {
  @include buttonStyle(secondary);
  &:hover {
    background-color: darken($background-color-dark, 10%);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
