@import "./theme/theme.scss";

.card {
  // background-color: $grey-bg;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-medium;
  -webkit-border-radius: $border-radius-medium;
  -moz-border-radius: $border-radius-medium;
  -ms-border-radius: $border-radius-medium;
  -o-border-radius: $border-radius-medium;
  .cardHeader {
    position: relative;
    height: 300px;
    width: fill;
    overflow: hidden;
    border-radius: $border-radius-medium;
    -webkit-border-radius: $border-radius-medium;
    -moz-border-radius: $border-radius-medium;
    -ms-border-radius: $border-radius-medium;
    -o-border-radius: $border-radius-medium;
    .itemImage {
      object-fit: cover;
      overflow: hidden;
      position: absolute;

      &:hover {
        overflow: hidden;
        transform: scale(1.03);
        -webkit-transform: scale(1.03);
        -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
        -o-transform: scale(1.03);
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
      }
    }

    .headerBtn {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      margin: $margin-small;
      justify-content: space-between;
      z-index: 1;

      .button {
        background-color: $gray-bg;
        color: $text-color-accent;
        background-color: $background-color-dark;
        padding: $padding-small;
        border-radius: $border-radius-medium;
        -webkit-border-radius: $border-radius-medium;
        -moz-border-radius: $border-radius-medium;
        -ms-border-radius: $border-radius-medium;
        -o-border-radius: $border-radius-medium;
        &:hover {
          background-color: darken($color: $background-color-dark, $amount: 5%);
          box-shadow: $box-shadow-dark;
          transition: 0.3s ease-in-out;
          -webkit-transition: 0.3s ease-in-out;
          -moz-transition: 0.3s ease-in-out;
          -ms-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          // cursor: pointer;
        }
      }
      .headerRightBtn {
        display: flex;
        flex-direction: row;
        gap: $gap-regular;
        .delete,
        .update {
          cursor: pointer; // Added cursor pointer
          &:hover {
            background-color: darken(
              $color: $background-color-dark,
              $amount: 5%
            );
          }
        }
      }
      .addToCart {
        cursor: pointer; // Added cursor pointer

        &:hover {
          background-color: darken($color: $background-color-dark, $amount: 5%);
        }
      }
    }
  }

  .cardBody {
    flex-direction: row;
    background-color: $background-color-dark;
    color: $text-color-accent;
    padding: $padding-regular;
    margin-top: $margin-small;
    .itemInfo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .outOfStock {
      color: $danger-color;
    }
    .inStock {
      color: $success-color;
    }

    border-radius: $border-radius-medium;
    -webkit-border-radius: $border-radius-medium;
    -moz-border-radius: $border-radius-medium;
    -ms-border-radius: $border-radius-medium;
    -o-border-radius: $border-radius-medium;

    .itemPrice {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .orignalPrice {
        text-decoration: line-through;
        color: lighten($color: $text-color-accent, $amount: 5%);
      }
    }
  }

  // .cardFooter {
  // border-radius: $border-radius-medium;
  // -webkit-border-radius: $border-radius-medium;
  // -moz-border-radius: $border-radius-medium;
  // -ms-border-radius: $border-radius-medium;
  // -o-border-radius: $border-radius-medium;
  // }
}
