@import "./theme/theme.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px;
  //Adjustmax-widthasneededmargin: 30px auto;
  padding: 20px;
  border-radius: $border-radius-medium;
  position: relative;
  background-color: $background-alt-500;
  color: $text-color-dark;
  border: 1px solid $border-color-dark;
  label {
    position: relative;
    flex: 1;

    .input {
      @include inputStyle(default);

      &:placeholder-shown + span {
        display: none;
        font-size: 0.9em;
      }

      &:focus + span,
      &:valid + span {
        color: $text-color-dark;
        top: 0px;
        display: inline;
        font-size: 0.7em;
        font-weight: 600;
      }

      &:active,
      &:focus {
        border: 1px solid $border-color-dark;
      }
    }

    .input + span {
      color: $text-color-dark;
      position: absolute;
      left: 10px;
      top: 0px;
      font-size: 0.9em;
      cursor: text;
      // transition: $transition;
    }
  }
}

.title {
  font-size: $font-size-large;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: $text-color-dark;

  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: $background-color-light;
  }

  &::before {
    width: 18px;
    height: 18px;
  }

  &::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
    -webkit-animation: pulse 1s linear infinite;
  }
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;

  .input {
    flex: 1;
  }

  label {
    flex: 1;
  }
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .centered {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: $border-radius-medium;
  color: $text-color-light;
  font-size: $font-size-regular;
  // transition: $transition;
  background-color: $background-alt;
  &:hover {
    background-color: $background-accent;
  }
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
