@import "./theme/theme.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //height: 80vh;
  border-radius: $border-radius-large;
  background: $white-color;
  box-shadow: $box-shadow-light;
  animation: fadeIn 0.5s ease-in-out;
  padding: 2rem;
  width: 90%;
  max-width: 500px;
  -webkit-animation: fadeIn 0.5s ease-in-out;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: $font-size-large;
    font-weight: bolder;
    letter-spacing: -1px;
    color: $text-color-dark;
    text-align: center;

    &::before,
    &::after {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      border-radius: 50%;
      left: -25px;
      background-color: $background-color-dark;
    }

    &::before {
      width: 18px;
      height: 18px;
    }

    &::after {
      width: 18px;
      height: 18px;
      animation: pulse 1s linear infinite;
    }
  }

  .form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: $gap-small;
    padding-bottom: $padding-regular;
    border-radius: $border-radius-large;
    padding: $padding-regular;

    .inputGroup {
      display: flex;
      flex-direction: column;
      gap: $gap-small;

      input {
        @include inputStyle(default);
        border: 1px solid $input-border;
        border-radius: $border-radius-medium;
        font-size: $font-size-regular;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        width: 100%;

        &:focus {
          border-color: $accent-color;
          box-shadow: 0 0 8px rgba($accent-color, 0.4);
          outline: none;
        }
      }
      .error {
        color: red;
        text-align: start;
      }
    }

    .submitBtn {
      @include buttonStyle(primary);
      width: 100%;
    }
  }

  .divider {
    width: 90%;
    background-color: $primary-color;
    height: 2px;
  }

  .socialContainer {
    // max-width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    // gap: 92px;
    // flex-wrap: wrap;

    .socialBtn {
      @include buttonStyle(secondary);
    }
  }

  span {
    color: $text-color-dark;
    text-align: center;

    .signupLink {
      @include linkStyle(default);
      margin-left: $margin-small;
      position: relative;

      &::before {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0%;
        background-color: $link-color-primary;
        transition: width 300ms ease-in-out;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }
}

@include breakpoint("md") {
  .container {
    height: auto;
    padding: $padding-large;
  }
  .form {
    width: 100%;
    max-width: 100%;
    padding: $padding-large;
  }
}

@include breakpoint("sm") {
  .container {
    width: 100%;
    padding: $padding-large;
  }
  .form {
    padding: $padding-large;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
