@import "./theme/theme.scss";

.navLink {
  @include linkStyle(default);
  color: $white-color;
  // margin: $margin-large $margin-regular;
  margin-right: $margin-large;
  padding: $padding-small 0;
  position: relative;
  display: flex;

  width: fit-content;
  flex-direction: column;
  align-items: end;
  letter-spacing: 2px;
  justify-content: end; // Centering horizontally
  text-decoration: none;
  // Removed justify-items
  &:hover {
    color: $text-color-accent;
  }

  &::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: $link-color-secondary;
    transition: width 300ms ease-in-out; // Simplified transition
  }

  &:hover::before {
    width: 100%; // Expand to the full width of the parent on hover
    color: $border-color-accent;
  }
}
.activPath {
  color: $text-color-accent;
  text-decoration: underline;
  text-underline-offset: 14px;
  text-decoration-thickness: 2px;
  font-weight: bold;
}
