@import "./theme/theme.scss";

.container {
  width: 100%;
  padding: $padding-large 0;

  .body {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: $gap-large;
    position: relative;

    padding: $padding-regular;

    .backLink {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 50;
      border-radius: $border-radius-small;
      color: $text-color-dark;
      font-size: $font-size-regular;
      display: flex;
      font-weight: bold;
      letter-spacing: 1px;
      margin-left: $margin-regular;
      align-items: center;
      gap: 5px;
      text-decoration: none;
      margin-bottom: $margin-regular;

      &:hover {
        color: $text-color-accent;
        cursor: pointer;
      }
    }

    .left {
      width: 300px;
      position: relative;
      height: auto;
      aspect-ratio: 1;
      border-radius: $border-radius-large;
      overflow: hidden;

      .img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    .right {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: $gap-regular;

      .discount {
        padding: $padding-regular;
        background-color: $gray-color;
        color: $text-color-dark;
        border-radius: $border-radius-2xl;
        font-weight: bold;
      }

      .title {
        h5 {
          color: $gray-bg;
          margin: 0;
        }
        p {
          color: black;
          margin: 0;
        }
      }

      .itemPrice {
        display: flex;
        align-items: center;
        gap: $gap-small;
        .discountedPrice {
          color: $black-color;
          font-weight: bold;
        }
        .orignalPrice {
          text-decoration: line-through;
          color: $gray-bg;
        }
      }

      .product {
        display: flex;
        flex-direction: column;
        gap: $gap-small;

        .id {
          display: flex;
          align-items: center;
          gap: $gap-small;
          h5 {
            margin: 0;
          }
          p {
            margin: 0;
            color: $gray-bg;
          }
        }

        .stock {
          color: $background-color-dark;
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }

      .quantityBtn {
        display: flex;
        align-items: center;
        gap: $gap-small;
        font-weight: bold;
        padding: $padding-small;
        border-radius: $border-radius-2xl;
        background-color: $gray-color;
        width: fit-content;

        .minusBtn,
        .plusBtn {
          background-color: darken($gray-color, 10%);
          color: $background-color-dark;
          padding: 4px;
          border-radius: $border-radius-2xl;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: darken($gray-bg, 5%);
          }
        }
      }

      .actionBtn {
        display: flex;
        gap: $gap-regular;
        .button {
          padding: $padding-regular;
          border-radius: $border-radius-2xl;
          font-weight: 600;
          cursor: pointer;
          transition: 0.3s;
          letter-spacing: 2px;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
          -webkit-border-radius: $border-radius-2xl;
          -moz-border-radius: $border-radius-2xl;
          -ms-border-radius: $border-radius-2xl;
          -o-border-radius: $border-radius-2xl;
          &:hover {
            box-shadow: $box-shadow-dark;
          }
        }

        .buyNow {
          background-color: $background-alt;
          color: $white-color;
          &:hover {
            background-color: darken($background-alt, 5%);
          }
        }

        .addToCart {
          background-color: $background-color-dark;
          color: $text-color-accent;
          &:hover {
            color: $white-color;
            background-color: darken($background-color-dark, 5%);
          }
        }
      }
    }
  }

  @include breakpoint(md) {
    .body {
      padding: $padding-large;
      width: 60%;

      .left {
        width: 100%;
      }

      .right {
        .quantityBtn {
          width: 100%;
          justify-content: space-between;
        }
        .actionBtn {
          flex-direction: column;
        }
      }
    }
  }

  @include breakpoint(sm) {
    .body {
      padding: $padding-large;

      .left {
        align-items: center;

        justify-content: center;
        width: 100%;
        margin: auto;
      }

      .right {
        .title h5 {
          font-size: $font-size-small;
        }
        .quantityBtn {
          width: 100%;
          justify-content: space-between;
        }
        .actionBtn {
          flex-direction: column;
        }
      }
    }
  }

  @include breakpoint(xs) {
    .body {
      padding: $padding-small;
      flex-direction: column;

      .left {
        width: 100%;
      }

      .right {
        gap: $gap-small;
        .quantityBtn {
          width: 100%;
          justify-content: space-between;
        }
        .actionBtn {
          flex-direction: column;
          gap: $gap-small;
        }
      }
    }
  }
}
