@import "./theme/theme.scss";

.container {
  background-color: $accent-color;
  display: flex;
  justify-content: center;
  align-items: center; // Centers everything vertically
  text-align: center;

  @include breakpoint(sm) {
    display: none;
  }

  .body {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row; // Stack items vertically
    justify-content: space-between; // Centers vertically in flexbox
    align-items: center;
    margin-top: $margin-regular;
    // background-color: red;
    color: white;
    font-weight: normal;

    @include breakpoint(xs) {
      display: none;
    }
    @include breakpoint(sm) {
      display: none;
    }
    // @include breakpoint(md) {
    //   display: none;
    // }

    // gap: $gap-regular; // Adds spacing between items
    p {
      span {
        .icon {
          margin-right: $margin-small;
          color: white;
          &:hover {
            cursor: pointer;
            transform: scale(1.3);
            transition: 0.3s transform ease-in-out;
            -webkit-transition: 0.3s transform ease-in-out;
            -moz-transition: 0.3s transform ease-in-out;
            -ms-transition: 0.3s transform ease-in-out;
            -o-transition: 0.3s transform ease-in-out;
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            -o-transform: scale(1.3);
            color: $text-color-dark;
          }
        }
      }
    }
  }
}
