@import "./theme/theme.scss";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // background-color: $background-accent;

  .body {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // Default 3 columns
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: $gap-large;
    padding: $padding-regular;
    background-color: $background-alt; // Use theme for consistent design

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr); // Adjust to 2 columns
      gap: $gap-regular;
    }

    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr); // Maintain 2 columns
      gap: $gap-small;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr; // Stack to single column
      gap: $gap-small;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr; // Single column for small devices
      gap: $gap-small;
      padding: $padding-small;
    }
  }
}
