html,
body {
  height: 100%;
  margin: 0;

  background-color: #392467;

  a {

    text-decoration: none;
    color: #ffd1e3;


  }
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 70%;
  margin: auto;
}