html,
body {
  height: 100%;
  margin: 0;
  background-color: #28282b;

  a {

    text-decoration: none;
    color: #ecb365;


  }
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 70%;
  margin: auto;
}