html,
body {
  height: 100%;
  margin: 0;
  background-color: #e6e6e6;


}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 70%;
  /* background-color: ; */
  margin: auto;
}