html,
body {
  scroll-behavior: smooth;
  margin: 0;

  padding: 0;
  background-color: #f9f9f9;
  ;
  width: 100%;
  height: 100vh;

}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  /* width: 70%; */

  margin: auto;
}